## Question 1

- `Take two integer numbers and return their product. If the product is greater than 1000, then return their sum if product is less than 1000 return product value only.`

In [ ]:
# Please write The solution Here for above question 1:
def productorsum(a, b):
    product = a * b
    if product > 1000:
        return a + b
    else:
        return product
num1 = 60
num2 = 6
result = productorsum(num1, num2)
print(f"Result: {result}")

Result: 360

## question 2

- `Given a range of the first 10 numbers, Iterate from the start number to the end number, and In each iteration print the sum of the current number and previous number`

Expected output:
-----------------
    Printing current and previous number sum in a range(10)
    Current Number 0 Previous Number  0  Sum:  0
    Current Number 1 Previous Number  0  Sum:  1
    Current Number 2 Previous Number  1  Sum:  3
    Current Number 3 Previous Number  2  Sum:  5
    Current Number 4 Previous Number  3  Sum:  7
    Current Number 5 Previous Number  4  Sum:  9
    Current Number 6 Previous Number  5  Sum:  11
    Current Number 7 Previous Number  6  Sum:  13
    Current Number 8 Previous Number  7  Sum:  15
    Current Number 9 Previous Number  8  Sum:  17

In [90]:
# Please write The solution Here for above question 2:
start_number = 0
end_number = 9
printsumofcurrentandprevious(start_number, end_number)


def printsumofcurrentandprevious(start, end):
    previous_number = start
    for current_number in range(start, end + 1):
        current_sum = previous_number + current_number
        print(f"Current number: {current_number}, Previous number: {previous_number}, Sum: {current_sum}")
        previous_number = current_number

Current number: 0, Previous number: 0, Sum: 0
Current number: 1, Previous number: 0, Sum: 1
Current number: 2, Previous number: 1, Sum: 3
Current number: 3, Previous number: 2, Sum: 5
Current number: 4, Previous number: 3, Sum: 7
Current number: 5, Previous number: 4, Sum: 9
Current number: 6, Previous number: 5, Sum: 11
Current number: 7, Previous number: 6, Sum: 13
Current number: 8, Previous number: 7, Sum: 15
Current number: 9, Previous number: 8, Sum: 17

## question 3

Given a string and an integer number n, remove characters from a string starting from zero up to n and return a new string

- Example :
     `("pynative", 4) so output must be tive.`
     
     `Note: n must be less than the length of the string.`

In [ ]:
# Please write The solution Here for above qu
a="pynative"
n=int(input())
def A(a,n):
  if(n>=len(a)):
    return 'invalid'
  else:
    return a[n+1:]
res=A(a,n)
print(res)

3
tive

## question 4

### `Given a list of numbers, return True if first and last number of a list is same`

    Expected Output:
    -------------------------------------

    Given list is
    a =  [10, 20, 30, 40, 10]
    b = [10 , 20 , 30 , 40, 10 ]
    result is True

    Given list is  
    a = [10, 20, 30, 40, 50]
    b = [11 , 21 , 31 , 41 , 51 ]
    result is False

In [91]:
# Please write The solution Here for above question 4:
def check_first_last_same(nums):
    if nums[0] == nums[-1]:
        return True
    else:
        return False
a = [10, 20, 30, 40, 10]
b = [10, 20, 30, 40, 10]
print(f"Given list is\na = {a}\nb = {b}\nresult is {check_first_last_same(a)}\n")
c = [10, 20, 30, 40, 50]
d = [11, 21, 31, 41, 51]
print(f"Given list is\na = {c}\nb = {d}\nresult is {check_first_last_same(c)}")

Given list is
a = [10, 20, 30, 40, 10]
b = [10, 20, 30, 40, 10]
result is True

Given list is
a = [10, 20, 30, 40, 50]
b = [11, 21, 31, 41, 51]
result is False

## question 5

### Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order

    list1 = [10, 20, 30, 40]
    list2 = [100, 200, 300, 400]


    Expected output:
    -----------------------------
    10 400
    20 300
    30 200
    40 100

In [92]:
# Please write The solution Here for above question 5:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
list2.reverse()
for i in range(len(list1)):
    print(list1[i],end=" ")
    print(list2[i])

10 400
20 300
30 200
40 100

## question 6

### Remove empty strings from the list of strings


    list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

    Expected output:
    ----------------------

    ["Mike", "Emma", "Kelly", "Brad"]

In [93]:
# Please write The solution Here for above question 6:
S= ["Mike", "", "Emma", "Kelly", "", "Brad"]
h=[]
for i in S:
  if len(i)>0:
    h.append(i)
  else:
     pass
print(h)

['Mike', 'Emma', 'Kelly', 'Brad']